:root {
  --color-sesion-calificacion: #f7f2f8;
  --color-sesion-reseñas: #511f50;
  --color-fondo-sombreados: #fbfbfb;
  --color-estrellas: #ee9545;
}

body {
  display: grid;
  background-color: white;
  font-family: sans-serif;
  background-color: black;
  margin: 80px 138px;
  padding: 0;
}
.superior {
  display: grid;
  flex-direction: column;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.cuerpo-principal {
  background-color: #fff;
  margin: 0 102px;
  min-height: 100vh;
  display: grid;
}
.sesion-titulo h1 {
  font-size: 36px;
  color: var(--color-sesion-reseñas);
  text-align: left;
}

.sesion-titulo p {
  font-size: 18px;
  color: var(--color-sesion-reseñas);
  margin-bottom: 40px;
  text-align: left;
}
.sesion-calificaciones {
  display: grid;
  justify-content: flex-end;
  text-align: left;
  font-weight: bold;
}

.sesion-calificacion {
  color: var(--color-estrellas);
  background-color: var(--color-sesion-calificacion);
  border-radius: 5px;
  padding: 18px 38px;
  margin-bottom: 18px;
}

.sesion-calificacion__dato {
  color: var(--color-sesion-reseñas);
  font-size: 14px;
}

.sesion-reseñas {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sesion-reseña {
  background-color: #4b2a74;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 244px;
  height: 148px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sesion-reseña img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sesion-reseña h3 {
  font-size: 16px;
  margin: -56px 64px 5px;
}

.sesion-reseña p {
  font-size: 14px;
  color: #e0bff9;
  margin: 0 67px 10px;
}

.sesion-reseña blockquote {
  font-size: 14px;
  color: #eed5ea;
  margin: 0 0 10px;
}

/* @media (max-width: 600px) {
  .cuerpo-principal {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .cuerpo-principal {
    width: 90%;
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  .cuerpo-principal {
    width: 70%;
    padding: 30px;
  }
} */
