:root {
  --color-sesion-calificacion: #f7f2f8;
  --color-sesion-reseñas: #511f50;
  --color-fondo-sombreados: #fbfbfb;
  --color-estrellas: #ee9545;
}

body {
  display: grid;
  font-family: sans-serif;
  background-color: black;
  margin: 80px 138px;
  padding: 0;
}
.cuerpo-principal {
  background-color: #fff;
  background-image: url("file:///E:/frontend/social-proof-section-master/images/bg-pattern-top-mobile.svg"),
    url(file:///E:/frontend/social-proof-section-master/images/bg-pattern-bottom-desktop.svg);
  background-size: 27% 100%, 76% 100%;
  /* background-position: top, bottom; */
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  margin: 0 102px;
  display: grid;
  height: 800px;
  width: 1444px;
}
.superior {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  margin-left: 160px;
}
.sesion-titulo {
  width: 36%;
}
.sesion-titulo h1 {
  font-size: 50px;
  color: var(--color-sesion-reseñas);
}

.sesion-titulo p {
  font-size: 18px;
  color: #8a7d88;
  margin-bottom: 40px;
}
.sesion-calificaciones {
  width: 52%;
  margin-top: 66px;
  font-weight: bolder;
  font-size: 14px;
}

.sesion-calificacion {
  color: var(--color-estrellas);
  background-color: var(--color-sesion-calificacion);
  border-radius: 5px;
  padding: 18px 38px;
  margin-top: 16px;
  width: 368px;
  height: 20px;
}

.calificacion1 {
  transform: translateX(0px);
}
.calificacion2 {
  transform: translateX(20px);
}
.calificacion3 {
  transform: translateX(40px);
}

.sesion-calificacion__dato {
  color: var(--color-sesion-reseñas);
  font-size: 14px;
}

.sesion-reseñas {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -128px;
  margin-right: 24px;
}
.sesion-reseña {
  background-color: var(--color-sesion-reseñas);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 310px;
  height: 196px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sesion-reseña img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 18px;
}

.sesion-reseña h3 {
  font-size: 16px;
  margin: -56px 64px 5px;
  margin-top: -41px;
}

.sesion-reseña p {
  font-size: 14px;
  color: #ca73aa;
  margin: 0 67px 10px;
}

.sesion-reseña blockquote {
  font-size: 16px;
  color: #eed5ea;
  margin: 0 0 10px;
  text-align: center;
  margin-top: 22px;
}
.reseña1 {
  transform: translateY(0px);
}
.reseña2 {
  transform: translateY(20px);
}
.reseña3 {
  transform: translateY(40px);
}
/* @media (max-width: 600px) {
  .cuerpo-principal {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .cuerpo-principal {
    width: 90%;
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  .cuerpo-principal {
    width: 70%;
    padding: 30px;
  }
} */
